.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._e{width:1.024000px;}
._f{width:2.880000px;}
._c{width:4.160000px;}
._8{width:6.016000px;}
._0{width:7.744000px;}
._1{width:8.768000px;}
._3{width:10.112000px;}
._2{width:11.392000px;}
._b{width:13.248000px;}
._12{width:16.448000px;}
._9{width:17.984000px;}
._13{width:19.328000px;}
._d{width:20.864000px;}
._6{width:23.168000px;}
._11{width:24.192000px;}
._4{width:26.048000px;}
._10{width:28.224000px;}
._5{width:33.664000px;}
._a{width:43.904000px;}
._7{width:101.248000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:64.000000px;}
.fs2{font-size:72.000000px;}
.fs0{font-size:96.000000px;}
.y2d{bottom:100.218010px;}
.y0{bottom:108.000000px;}
.y11{bottom:113.000000px;}
.y2c{bottom:122.678001px;}
.y2b{bottom:145.137993px;}
.y43{bottom:157.598015px;}
.y2a{bottom:167.597992px;}
.y42{bottom:180.058014px;}
.y29{bottom:190.057995px;}
.y41{bottom:202.518013px;}
.y28{bottom:212.517998px;}
.y40{bottom:224.978013px;}
.y27{bottom:235.880997px;}
.y3f{bottom:257.438011px;}
.y26{bottom:270.246040px;}
.y3e{bottom:279.898010px;}
.y25{bottom:292.706024px;}
.y3d{bottom:302.358013px;}
.y24{bottom:315.166031px;}
.y3c{bottom:324.818016px;}
.y23{bottom:337.626030px;}
.y3b{bottom:348.181015px;}
.y22{bottom:360.086029px;}
.y3a{bottom:382.546013px;}
.y21{bottom:382.546028px;}
.y10{bottom:384.123016px;}
.y39{bottom:405.006012px;}
.y20{bottom:405.006028px;}
.yf{bottom:406.583023px;}
.y38{bottom:427.466011px;}
.ye{bottom:429.043022px;}
.y1f{bottom:437.466026px;}
.y37{bottom:449.926011px;}
.yd{bottom:451.503021px;}
.y1e{bottom:459.926033px;}
.yc{bottom:473.963020px;}
.y1d{bottom:482.386017px;}
.y36{bottom:482.386024px;}
.yb{bottom:496.423020px;}
.y35{bottom:504.846016px;}
.y1c{bottom:504.846024px;}
.y34{bottom:527.306015px;}
.y1b{bottom:527.306023px;}
.ya{bottom:528.883026px;}
.y33{bottom:549.766018px;}
.y1a{bottom:549.766022px;}
.y9{bottom:551.343018px;}
.y19{bottom:572.226021px;}
.y8{bottom:573.803024px;}
.y18{bottom:594.686021px;}
.y32{bottom:595.589020px;}
.y7{bottom:596.263008px;}
.y6{bottom:618.723015px;}
.y17{bottom:627.146011px;}
.y31{bottom:629.954018px;}
.y5{bottom:641.183014px;}
.y16{bottom:649.606014px;}
.y30{bottom:652.414017px;}
.y4{bottom:663.643013px;}
.y15{bottom:672.066017px;}
.y2f{bottom:674.874016px;}
.y3{bottom:686.103012px;}
.y14{bottom:695.429016px;}
.y2e{bottom:697.334016px;}
.y2{bottom:708.563012px;}
.y13{bottom:729.794014px;}
.y1{bottom:744.636015px;}
.y12{bottom:752.254014px;}
.h3{height:44.343750px;}
.h5{height:49.218750px;}
.h2{height:65.625000px;}
.h1{height:226.500000px;}
.h4{height:444.000000px;}
.h0{height:841.950012px;}
.w1{width:399.500000px;}
.w2{width:500.500000px;}
.w0{width:595.349976px;}
.x2{left:72.000000px;}
.x0{left:73.500000px;}
.x3{left:131.327000px;}
.x1{left:197.876999px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._e{width:1.365333pt;}
._f{width:3.840000pt;}
._c{width:5.546667pt;}
._8{width:8.021333pt;}
._0{width:10.325333pt;}
._1{width:11.690667pt;}
._3{width:13.482667pt;}
._2{width:15.189333pt;}
._b{width:17.664000pt;}
._12{width:21.930667pt;}
._9{width:23.978667pt;}
._13{width:25.770667pt;}
._d{width:27.818667pt;}
._6{width:30.890667pt;}
._11{width:32.256000pt;}
._4{width:34.730667pt;}
._10{width:37.632000pt;}
._5{width:44.885333pt;}
._a{width:58.538667pt;}
._7{width:134.997333pt;}
.fs1{font-size:85.333333pt;}
.fs2{font-size:96.000000pt;}
.fs0{font-size:128.000000pt;}
.y2d{bottom:133.624013pt;}
.y0{bottom:144.000000pt;}
.y11{bottom:150.666667pt;}
.y2c{bottom:163.570669pt;}
.y2b{bottom:193.517324pt;}
.y43{bottom:210.130686pt;}
.y2a{bottom:223.463989pt;}
.y42{bottom:240.077352pt;}
.y29{bottom:253.410660pt;}
.y41{bottom:270.024017pt;}
.y28{bottom:283.357330pt;}
.y40{bottom:299.970684pt;}
.y27{bottom:314.507996pt;}
.y3f{bottom:343.250682pt;}
.y26{bottom:360.328054pt;}
.y3e{bottom:373.197347pt;}
.y25{bottom:390.274699pt;}
.y3d{bottom:403.144018pt;}
.y24{bottom:420.221375pt;}
.y3c{bottom:433.090688pt;}
.y23{bottom:450.168040pt;}
.y3b{bottom:464.241353pt;}
.y22{bottom:480.114705pt;}
.y3a{bottom:510.061351pt;}
.y21{bottom:510.061371pt;}
.y10{bottom:512.164022pt;}
.y39{bottom:540.008016pt;}
.y20{bottom:540.008038pt;}
.yf{bottom:542.110697pt;}
.y38{bottom:569.954681pt;}
.ye{bottom:572.057363pt;}
.y1f{bottom:583.288035pt;}
.y37{bottom:599.901348pt;}
.yd{bottom:602.004028pt;}
.y1e{bottom:613.234711pt;}
.yc{bottom:631.950694pt;}
.y1d{bottom:643.181356pt;}
.y36{bottom:643.181366pt;}
.yb{bottom:661.897360pt;}
.y35{bottom:673.128021pt;}
.y1c{bottom:673.128031pt;}
.y34{bottom:703.074687pt;}
.y1b{bottom:703.074697pt;}
.ya{bottom:705.177368pt;}
.y33{bottom:733.021357pt;}
.y1a{bottom:733.021362pt;}
.y9{bottom:735.124023pt;}
.y19{bottom:762.968028pt;}
.y8{bottom:765.070699pt;}
.y18{bottom:792.914694pt;}
.y32{bottom:794.118693pt;}
.y7{bottom:795.017344pt;}
.y6{bottom:824.964020pt;}
.y17{bottom:836.194682pt;}
.y31{bottom:839.938690pt;}
.y5{bottom:854.910685pt;}
.y16{bottom:866.141352pt;}
.y30{bottom:869.885356pt;}
.y4{bottom:884.857351pt;}
.y15{bottom:896.088023pt;}
.y2f{bottom:899.832021pt;}
.y3{bottom:914.804016pt;}
.y14{bottom:927.238688pt;}
.y2e{bottom:929.778688pt;}
.y2{bottom:944.750683pt;}
.y13{bottom:973.058685pt;}
.y1{bottom:992.848020pt;}
.y12{bottom:1003.005352pt;}
.h3{height:59.125000pt;}
.h5{height:65.625000pt;}
.h2{height:87.500000pt;}
.h1{height:302.000000pt;}
.h4{height:592.000000pt;}
.h0{height:1122.600016pt;}
.w1{width:532.666667pt;}
.w2{width:667.333333pt;}
.w0{width:793.799967pt;}
.x2{left:96.000000pt;}
.x0{left:98.000000pt;}
.x3{left:175.102666pt;}
.x1{left:263.835999pt;}
}
